# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Global settings (applicable to all files unless overridden)
[*]
charset = utf-8
end_of_line = lf # Use LF for line endings (Unix-style)
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = 120

# Bash scripts
[*.sh]
indent_size = 4

# PowerShell scripts
[*.ps1]
indent_size = 4

# C# files
[*.cs]
indent_size = 4

# YAML files
[*.{yml,yaml}]
indent_size = 4

# JSON files
[*.json]
indent_size = 4
